#
# Bicycle Server - https://github.com/blueskyfish/bicycle-server.git
#
# Copyright (c) 2016 blueskyfish
#

# Jetbrains Editors
.idea/
*.iml

# Node & NPM
node_modules/
npm-debug.log

# JSDoc
jsdoc/
apidoc/

# Settings
settings.*.json
!settings.example.json

# Productions
run.sh
version.json
